---
import Index from "../components/Index";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="https://emojicdn.elk.sh/ðŸ™" />
    <meta name="viewport" content="width=device-width" />
    <title>Using All Tufts Meal Swipes</title>
  </head>
  <body>
    <Index client:load />
  </body>
</html>
