---
import Index from '../components/Index.jsx'
---

<head>
  <title>Meal Swipes</title>
  <link rel="icon" href="https://emojicdn.elk.sh/🌯" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <style is:global>
    @import "../styles/global.css";
  </style>
</head>

<Index client:load />
